# OS files
.DS_Store
**/.DS_Store
desktop.ini

# Dependencies
node_modules/

# Lock files
package-lock.json

# IDE Settings
.idea/
.vscode/

# Local build output
.mintlify/

# Other local settings
.cspell.json